<div class="navbar">
    <div class="logo">
        <h2>N.</h2>
    </div>
    <div class="navcontent">
        <ul>
            <li>
                <link rel="stylesheet" href="">1.About
            </li>
            <li>
                <link rel="stylesheet" href="">2.Experience
            </li>
            <li>
                <link rel="stylesheet" href="">3.Contact
            </li>
            <li>
                <button id="resume-btn">Resume</button>
            </li>
        </ul>
    </div>
</div>