<div class="container">
    <div class="navbar">
        <div class="logo">
            <h2>N.</h2>
        </div>
        <div class="navcontent">
            <ul>
                <li>
                    <link rel="stylesheet" href="">1.About
                </li>
                <li>
                    <link rel="stylesheet" href="">2.Experience
                </li>
                <li>
                    <link rel="stylesheet" href="">3.Contact
                </li>
                <li>
                    <button id="resume-btn">Resume</button>
                </li>
                <li>
                    <a>
                        <img src="assets/a6df2560d5ef62c537eae041a0b7bd89.png" alt="hi" width="40" height="40">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="about">
            <p>Welcome to my personal space!</p>
            <h1>Niroop</h1>
            <h3>Passionate Fullstack Developer</h3>
            <p>
                <!-- Hey there! I'm Niroop, a dedicated Fullstack Developer on a mission to create seamless and innovative web experiences.
                Currently, I am contributing my skills at RNTBCI. Let's collaborate and bring your ideas to life! -->
                Welcome to my digital realm! I'm a Software Engineer with a touch of UI/UX flair,Currently shaping code at RNTBCI.Let's breathe life into the web!
            </p>
        </div>
        <div class="slide-down">
            <a>
                <img src="assets/cee6e440df267813183b44da5e930aaa.png" alt="slide-down" class="explore">
            </a>
        </div>
    </div>
</div>